.svn
.*.swp
*.[od]
*.pdb
*.ilk
*.idb
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.sln
*.suo
*.ncb
*.dep
*.aps
Debug
RelWithDebInfo
CMakeFiles
CMakeScripts
CMakeCache.txt
cmake_install.cmake
.idea
*.opendb
*.db
/3rdparty/libxml2/win32/bin.msvc
/3rdparty/libxml2/win32/int.a.msvc
/3rdparty/libxml2/win32/int.msvc

3rdparty/mpir/tmp/libmpir-cfgcmd.txt

3rdparty/dablooms/tmp/dablooms-cfgcmd.txt

3rdparty/dablooms/tmp/dablooms-cfgcmd.txt.in

3rdparty/mpir/tmp/libmpir-cfgcmd.txt.in

3rdparty/openssl/tmp/openssl-cfgcmd.txt

3rdparty/openssl/tmp/openssl-cfgcmd.txt.in

test/unit/camera/watch

test/unit/bip_buf

3rdparty/tbox/tmp/tbox-cfgcmd.txt.in

3rdparty/tbox/tmp/tbox-cfgcmd.txt
