.svn
.*.swp
*.[od]
*.pdb
*.ilk
*.idb
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.sln
*.suo
*.ncb
*.dep
*.aps
Debug
RelWithDebInfo
CMakeFiles
CMakeScripts
CMakeCache.txt
cmake_install.cmake
*.opendb
*.db
/3rdparty/libxml2/win32/bin.msvc
/3rdparty/libxml2/win32/int.a.msvc
/3rdparty/libxml2/win32/int.msvc
